# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [4]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [7]:
a : int = 7
b : int = 2


print(a + b)
print(a - b)
print(a * b)
print(a / b)

9
5
14
3.5

In [10]:
a : int = 11
b : int = 3
print(a % b)

2

In [11]:
print(2**2)
print(2**3)

4
8

In [13]:
print(14 / 3)
print(14 // 3)  # flor

4.666666666666667
4

# python Assignment Operators

In [14]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [15]:
# +=
a : int = 7
print(a)
a +=2
print(a)

7
9

In [16]:
# -=
a : int = 7
print(a)
a -=2
print(a)

7
5

# Python Comparison Operators

In [17]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [18]:
a : int = 7
b : int = 10
print( a == b)

False

In [19]:
a : int = 10
b : int = 10
print( a == b)

True

In [20]:
# !=
a : int = 10
b : int = 10
print( a != b)

False

In [21]:
a : int = 10
b : int = 10
print(a > b)

False

In [22]:
a : int = 10
b : int = 10
print(a < b)

False

In [29]:
# ascii code koi b number likho to string mai word btae ga

chr(65)

'A'

In [26]:
# koi b number btao us ka asicc code btae ga
ord('A')

65

# Python Logical Operators

In [30]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [32]:
# programing mai and or ka mtlb alg h
# and (lazmi) sb operaor true hn gy to work kre ha
# or (optional)
print(True and True and True and True)
print(True and False and True and True)

True
False

In [35]:
print(True or True or True or True)
print(True or False or True or True) # koi 1 b true h to true return kre ga
print(False or False or False or False) # sb false hn gy to false return kre ga

True
True
False

In [38]:
name : str = "Adeel"
print(not name=="Adeel")

False

# Python Identity Operators

In [39]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [41]:
x : str = 'abc'
z : str = 'abc'
print(id(x))
print(id(z))
x is z # x or z k value same h backend pe as liye true result de ga

140717154767112
140717154767112

True

# Python Membership Operators

In [42]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [45]:
names : list[str] = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [58]:
names : list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i,names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [62]:
names : list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [63]:
names : list[str] = [chr(i) for i in range(65,91)]

"Pakistan" in names

False

In [65]:
# in ka mtlb k as mai ye h
names : list[str] = ['sir abc', 'sir D', 'sir 5']
uinput : str = input("Enter your name")
uinput in names

False

In [66]:
# not in ka mtlb ye ni hna chye
names : list[str] = ['sir abc', 'sir D', 'sir 5']
uinput : str = input("Enter your name")
uinput not in names

False

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

 ## PEMDAS
 * parenthese
 * Exponent
 * Multiplication
 * Division
 * Addition
 * Subtrection

In [67]:
print(3 + 2 - 2 * 4/2 + 2)
# 3 + 2 - 8/2 + 2   (4*2)
# 3 + 2 - 4 + 2   (8/2)
# 5 - 2  
# 3

3.0