In [4]:
print("name")

name

In [5]:
print(name)

adeeeeeeeel

In [6]:
name : str = "adeeeeeeeel"
print(name)

adeeeeeeeel

# string data type in python

In [9]:
# boundries
# 'string text' , "string text" , '''string text ''' , """string text"""
# `string text` backticks use in type script not in python
name : str = "M Adeel"
print(type(name))
print(name)

<class 'str'>
M Adeel

In [10]:
# boundries
# 'string text' , "string text" , '''string text ''' , """string text"""
# `string text` backticks use in type script not in python
name : str = 'M Adeel'
print(type(name))
print(name)

<class 'str'>
M Adeel

# single code error

In [11]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (4212690934.py, line 1)

# inside double code use single code

In [12]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

# use single code out side and double code inside

In [13]:
message : str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [14]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [15]:
# concatination (sb ko sth mila de ga)
"a" + "b" + "c"

'abc'

In [27]:
# same line mai likhn to
print(7 + 8 + 2)

17

# "\\" line continue

In [28]:
# alg line mai likhen
print(7 + \
    8 +\
        2)

17

# Line change \n

In [44]:
# boundries
# 'string text' , "string text" , '''string text ''' , """string text"""
# `string text` backticks use in type script not in python
name : str = 'M Adeel'
fname : str = "Khalid M"
education : str = "Master in Data Scirnce"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name +\
    "\nFather Name: " + fname+\
"\nAge: " + str(age) +\
    "\nEducation: " + education
print(card)

PIAIC Student Card
Student Name: M Adeel
Father Name: Khalid M
Age: 30
Education: Master in Data Scirnce

# define multiline string """ """ , ''' '''

In [49]:
name : str = 'M Adeel'
fname : str = "Khalid M"
education : str = "Master in Data Scirnce"
age : int = 30
card : str = """
PIAIC Student Card
Student Name: ....
Father Name: ....
Age: ....
Education: ....
"""

print(card)

PIAIC Student Card
Student Name: ....
Father Name: ....
Age: ....
Education: ....

# F-String Python numerical function also perform in f-string

In [52]:
name : str = 'M Adeel'
fname : str = "Khalid M"
education : str = "Master in Data Scirnce"
age : int = 30
card : str = f"""
PIAIC Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education}
Total {2 +2 + 3}
"""

print(card)

PIAIC Student Card
Student Name: M Adeel
Father Name: Khalid M
Age: 30
Education: Master in Data Scirnce
Total 7

In [51]:
# error while use backtik
name : str = 'M Adeel'
fname : str = "Khalid M"
education : str = "Master in Data Scirnce"
age : int = 30
card : str = `
PIAIC Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education}
`
print(card)

SyntaxError: invalid syntax (3486128363.py, line 6)

# F-string and Jinja style

In [53]:
# f-string
f"""
Student name {name}
"""

'\nStudent name M Adeel\n'

In [54]:
# Jinja Style
"""
Student name {{name}}
"""

'\nStudent name {{name}}\n'

# F-String

In [55]:
# (%s string, %d int ase type dete hai asi trha or b bht se types hai)
name : str = 'M Adeel'
fname : str = "Khalid M"
education : str = "Master in Data Scirnce"
age : int = 30
card : str = f"""
PIAIC Student Card
Student Name: %s   
Father Name: %s
Age: %d
Education: %s 

""" %(name,fname,age,education)

print(card)

PIAIC Student Card
Student Name: M Adeel
Father Name: Khalid M
Age: 30
Education: Master in Data Scirnce

# string Method

In [57]:
[i for i in dir(str) if"_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [58]:
name : str = "mUhAmmad aDeel"
print(name.capitalize())
print(name.lower())

Muhammad adeel
muhammad adeel

In [60]:
# ye b f-string he h
a = 7
b = 8
# {} place holder as bracket mai jo likhna h wo format mai ja k likh skte hai
# same jse variable k name dn gy ye wse he uthae ga sare name

"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 8'

In [62]:
# jse index hm format mai dn gy wse he print mai show kre ga
# as example mai hm ne glat index nbr diye to us ne ye result dia
name : str = 'M Adeel'
fname : str = "Khalid M"
education : str = "Master in Data Scirnce"
age : int = 30
card : str = """
PIAIC Student Card
Student Name: {}
Father Name: {}
Age: {}
Education: {}
""".format(fname,name,education,age)
  

print(card)

PIAIC Student Card
Student Name: Khalid M
Father Name: M Adeel
Age: Master in Data Scirnce
Education: 30

# Recmanded below two f-string format

In [61]:
# yha format mai variable name agy peche likhe hai but index number sai diye hai{} mai
name : str = 'M Adeel'
fname : str = "Khalid M"
education : str = "Master in Data Scirnce"
age : int = 30
card : str = """
PIAIC Student Card
Student Name: {1}
Father Name: {0}
Age: {3}
Education: {2}
""".format(fname,name,education,age)
#            0    1    2          3  

print(card)

PIAIC Student Card
Student Name: M Adeel
Father Name: Khalid M
Age: 30
Education: Master in Data Scirnce

In [63]:
name : str = 'M Adeel'
fname : str = "Khalid M"
education : str = "Master in Data Scirnce"
age : int = 30
card : str = f"""
PIAIC Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education}
Total {2 +2 + 3}
"""

print(card)

PIAIC Student Card
Student Name: M Adeel
Father Name: Khalid M
Age: 30
Education: Master in Data Scirnce
Total 7

In [65]:
student_code : str = """
print("My Name is Adeel")
a : int = 7
b : int = 8
print(a + b)
"""
exec(student_code)

My Name is Adeel
15

# Explore String Method and Attributes
Pre-define or global function we have used
* print
* type
* id
* dir
* len

In [67]:
# Explore String Method and Attributes

a : list[str] = [i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [72]:
name : str = "     MuHammad ADeel       "
print(name)
print(name.lower()) # lower case mai likhe ga
print(name.lstrip()) #left side k space khtm kre ha
display(name.rstrip()) #right side k space khtm kre ha
display(name.strip()) #dono side k space khtm kre ha

     MuHammad ADeel
     muhammad adeel
MuHammad ADeel

'     MuHammad ADeel'

'MuHammad ADeel'