In [1]:
import pandas as pd
import pandera as pa

In [1]:
%pip install pandera

Collecting panderaNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for pandera from https://files.pythonhosted.org/packages/04/f8/e00c7a27b5a7c13bc51baa8f75f4c55d8fa2549ff96402699ac56b864d6d/pandera-0.17.2-py3-none-any.whl.metadata
  Downloading pandera-0.17.2-py3-none-any.whl.metadata (15 kB)
Collecting multimethod (from pandera)
  Obtaining dependency information for multimethod from https://files.pythonhosted.org/packages/7f/bd/750245e47e7f307d9f94d4fa84727f4ed9956005dfa671d58be1d531a0f6/multimethod-1.10-py3-none-any.whl.metadata
  Downloading multimethod-1.10-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.19.0 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from pandera) (1.26.1)
Requirement already satisfied: packaging>=20.0 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from pandera) (23.2)
Requirement already satisfied: pandas>=1.2.0 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from pandera) (2.1.1)
Collecting pydantic (from pandera)
  Obtaining dependency information for pydantic from https://files.pythonhosted.org/packages/73/66/0a72c9fcde42e5650c8d8d5c5c1873b9a3893018020c77ca8eb62708b923/pydantic-2.4.2-py3-none-any.whl.metadata
  Downloading pydantic-2.4.2-py3-none-any.whl.metadata (158 kB)
     ---------------------------------------- 0.0/158.6 kB ? eta -:--:--
     ---------------------------------------- 0.0/158.6 kB ? eta -:--:--
     ---------------------------------------- 0.0/158.6 kB ? eta -:--:--
     ---------- ----------------------------- 41.0/158.6 kB ? eta -:--:--
     --------------- ----------------------- 61.4/158.6 kB 3.2 MB/s eta 0:00:01
     --------------------- --------------- 92.2/158.6 kB 871.5 kB/s eta 0:00:01
     -------------------------------- --- 143.4/158.6 kB 853.3 kB/s eta 0:00:01
     ------------------------------------ 158.6/158.6 kB 731.0 kB/s eta 0:00:00
Collecting typeguard>=3.0.2 (from pandera)
  Obtaining dependency information for typeguard>=3.0.2 from https://files.pythonhosted.org/packages/18/01/5fc45558268ced46d86292763477996a3cdd505567cd590a688e8cdc386e/typeguard-4.1.5-py3-none-any.whl.metadata
  Downloading typeguard-4.1.5-py3-none-any.whl.metadata (3.7 kB)
Collecting typing-inspect>=0.6.0 (from pandera)
  Obtaining dependency information for typing-inspect>=0.6.0 from https://files.pythonhosted.org/packages/65/f3/107a22063bf27bdccf2024833d3445f4eea42b2e598abfbd46f6a63b6cb0/typing_inspect-0.9.0-py3-none-any.whl.metadata
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Collecting wrapt (from pandera)
  Obtaining dependency information for wrapt from https://files.pythonhosted.org/packages/5c/cc/8297f9658506b224aa4bd71906447dea6bb0ba629861a758c28f67428b91/wrapt-1.16.0-cp312-cp312-win_amd64.whl.metadata
  Downloading wrapt-1.16.0-cp312-cp312-win_amd64.whl.metadata (6.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from typing-inspect>=0.6.0->pandera) (4.8.0)
Collecting annotated-types>=0.4.0 (from pydantic->pandera)
  Obtaining dependency information for annotated-types>=0.4.0 from https://files.pythonhosted.org/packages/28/78/d31230046e58c207284c6b2c4e8d96e6d3cb4e52354721b944d3e1ee4aa5/annotated_types-0.6.0-py3-none-any.whl.metadata
  Downloading annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.10.1 (from pydantic->pandera)
  Obtaining dependency information for pydantic-core==2.10.1 from https://files.pythonhosted.org/packages/a4/5e/f8436267bb9a35099a75237325107beb640a5a8c8b718492381e9b836719/pydantic_core-2.10.1-cp312-none-win_amd64.whl.metadata
  Downloading pydantic_core-2.10.1-cp312-none-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\adeel\.conda\envs\python12\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)
Downloading pandera-0.17.2-py3-none-any.whl (203 kB)
   ---------------------------------------- 0.0/203.4 kB ? eta -:--:--
   ------ --------------------------------- 30.7/203.4 kB 1.3 MB/s eta 0:00:01
   ------------- ------------------------- 71.7/203.4 kB 787.7 kB/s eta 0:00:01
   ----------------- --------------------- 92.2/203.4 kB 655.4 kB/s eta 0:00:01
   ---------------------- --------------- 122.9/203.4 kB 722.1 kB/s eta 0:00:01
   -------------------------------- ----- 174.1/203.4 kB 748.1 kB/s eta 0:00:01
   ------------------------------------ - 194.6/203.4 kB 692.9 kB/s eta 0:00:01
   -------------------------------------- 203.4/203.4 kB 589.0 kB/s eta 0:00:00
Downloading typeguard-4.1.5-py3-none-any.whl (34 kB)
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading multimethod-1.10-py3-none-any.whl (9.9 kB)
Downloading pydantic-2.4.2-py3-none-any.whl (395 kB)
   ---------------------------------------- 0.0/395.8 kB ? eta -:--:--
   ---- ---------------------------------- 41.0/395.8 kB 991.0 kB/s eta 0:00:01
   --------- ------------------------------ 92.2/395.8 kB 1.1 MB/s eta 0:00:01
   ------------- ------------------------ 143.4/395.8 kB 853.3 kB/s eta 0:00:01
   ---------------- --------------------- 174.1/395.8 kB 876.1 kB/s eta 0:00:01
   --------------------- ---------------- 225.3/395.8 kB 811.5 kB/s eta 0:00:01
   ------------------------ ------------- 256.0/395.8 kB 874.6 kB/s eta 0:00:01
   ----------------------------- -------- 307.2/395.8 kB 827.2 kB/s eta 0:00:01
   ---------------------------------- --- 358.4/395.8 kB 857.5 kB/s eta 0:00:01
   -------------------------------------  389.1/395.8 kB 836.4 kB/s eta 0:00:01
   -------------------------------------- 395.8/395.8 kB 796.5 kB/s eta 0:00:00
Downloading pydantic_core-2.10.1-cp312-none-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.0 MB 1.1 MB/s eta 0:00:02
   -- ------------------------------------- 0.1/2.0 MB 980.4 kB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.0 MB 1.0 MB/s eta 0:00:02
   ---- ----------------------------------- 0.2/2.0 MB 953.7 kB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.0 MB 983.0 kB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.0 MB 930.9 kB/s eta 0:00:02
   ------ --------------------------------- 0.3/2.0 MB 952.6 kB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.0 MB 916.6 kB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.0 MB 930.9 kB/s eta 0:00:02
   -------- ------------------------------- 0.4/2.0 MB 865.6 kB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.0 MB 866.2 kB/s eta 0:00:02
   ---------- ----------------------------- 0.5/2.0 MB 873.0 kB/s eta 0:00:02
   ---------- ----------------------------- 0.5/2.0 MB 856.1 kB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.0 MB 872.8 kB/s eta 0:00:02
   ------------ --------------------------- 0.6/2.0 MB 887.3 kB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.0 MB 868.9 kB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.0 MB 868.9 kB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.0 MB 827.6 kB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.0 MB 804.5 kB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.0 MB 799.7 kB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.0 MB 799.7 kB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.0 MB 735.7 kB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.0 MB 702.0 kB/s eta 0:00:02
   ---------------- ----------------------- 0.8/2.0 MB 690.3 kB/s eta 0:00:02
   ---------------- ----------------------- 0.8/2.0 MB 689.6 kB/s eta 0:00:02
   ----------------- ---------------------- 0.9/2.0 MB 679.9 kB/s eta 0:00:02
   ------------------ --------------------- 0.9/2.0 MB 694.8 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.0 MB 700.2 kB/s eta 0:00:02
   -------------------- ------------------- 1.0/2.0 MB 698.5 kB/s eta 0:00:02
   -------------------- ------------------- 1.0/2.0 MB 719.2 kB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.0 MB 702.5 kB/s eta 0:00:02
   ---------------------- ----------------- 1.1/2.0 MB 713.4 kB/s eta 0:00:02
   ----------------------- ---------------- 1.2/2.0 MB 731.4 kB/s eta 0:00:02
   ------------------------- -------------- 1.2/2.0 MB 741.1 kB/s eta 0:00:02
   -------------------------- ------------- 1.3/2.0 MB 743.7 kB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.0 MB 752.8 kB/s eta 0:00:01
   ---------------------------- ----------- 1.4/2.0 MB 761.4 kB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.0 MB 775.5 kB/s eta 0:00:01
   ------------------------------ --------- 1.5/2.0 MB 783.2 kB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.0 MB 789.3 kB/s eta 0:00:01
   -------------------------------- ------- 1.6/2.0 MB 786.1 kB/s eta 0:00:01
   --------------------------------- ------ 1.7/2.0 MB 802.8 kB/s eta 0:00:01
   ---------------------------------- ----- 1.7/2.0 MB 809.6 kB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.0 MB 814.3 kB/s eta 0:00:01
   ------------------------------------ --- 1.8/2.0 MB 815.5 kB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.0 MB 827.0 kB/s eta 0:00:01
   ---------------------------------------  2.0/2.0 MB 841.2 kB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 835.8 kB/s eta 0:00:00
Downloading wrapt-1.16.0-cp312-cp312-win_amd64.whl (37 kB)
Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Installing collected packages: wrapt, typing-inspect, typeguard, pydantic-core, multimethod, annotated-types, pydantic, pandera
Successfully installed annotated-types-0.6.0 multimethod-1.10 pandera-0.17.2 pydantic-2.4.2 pydantic-core-2.10.1 typeguard-4.1.5 typing-inspect-0.9.0 wrapt-1.16.0

In [2]:
# list mai just list mai jo data h wo show hta
l1 : list[int] = [1,2,3,4,5,6,7,8,9]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# list we can use for creating series.(jb k pd.Series mai index number b show hta or list b or data type b sth show krwa deti jse as mai dtype: int64)
s1 : pd.Series = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# set we can use for creating series
s1 : pd.Series = pd.Series({1,2,3,4,5})
s1

TypeError: 'set' type is unordered

In [5]:
# Typle we can use for creating series (index number khud se 0 se start ho k agy chlen gy)
s1 : pd.Series = pd.Series((1,2,3,4,5))
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# Dictionary we can use for creating series (index number ko replace kr skte hai jse as example mai a,b,c,d,e,f,g ye sb index number hai)
s1 : pd.Series = pd.Series({"a": 10, "b": 20,"c": 30,"d": 40,"e": 50, "f": 60,"g": 70})
s1

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [7]:
# alg variable se b index number de skte

values : list[int] = [1,2,3,4,5]
index1 : list[str] = ['a', 'b', 'c', 'd','e']

s1 : pd.Series = pd.Series(values, index=index1)
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# Multi index series
# list of list (multi index ya group bna skte hai jse yha a1 ka or b1 ka group h)

values : list[int] = [1,2,3,4,5]
index1 : list[list[str]] = [['a1', 'a1', 'a1', 'b1','b1'], ['a', 'b', 'c','d','e']]

s1 : pd.Series = pd.Series(values, index=index1)
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
dtype: int64

In [9]:
# Multi index series
# series ka name b rakh skte hai jse as series ka name hm Student_Data rakh dete hai
values : list[int] = [1,2,3,4,5]
index1 : list[list[str]] = [['a1', 'a1', 'a1', 'b1','b1'], ['a', 'b', 'c','d','e']]

s1 : pd.Series = pd.Series(values, index=index1,name="Student_Data")
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
Name: Student_Data, dtype: int64

In [10]:
from nptyping import DataFrame, Structure as S

s1 : S["abc : str"] = pd.Series(['a','b','c'])

In [11]:
# https://pandera.readthedocs.io/en/stable/index.html


import pandas as pd
import pandera as pa

# data to validate
df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ["value_1", "value_2", "value_3", "value_2", "value_1"],
})

# define schema
schema = pa.DataFrameSchema({
    "column1": pa.Column(int, checks=pa.Check.le(10)),
    "column2": pa.Column(float, checks=pa.Check.lt(-1.2)),
    "column3": pa.Column(str, checks=[
        pa.Check.str_startswith("value_"),
        # define custom checks as functions that take a series as input and
        # outputs a boolean or boolean Series
        pa.Check(lambda s: s.str.split("_", expand=True).shape[1] == 2)
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

# DataFrame

In [15]:
# data frame ka mtlb h more then 2 columns do ya do se zyda column jb connent kren to us ko kehte hai data frame
# data frame column or row pe depend krta h(mtlb k dataframe mai column or row hte hai)

# ye hai 2 se zyda data frame
s1 : pd.Series = pd.Series([1,2,3,4,5],name= "student Id ")
s2 : pd.Series = pd.Series([10,20,30,40,50],name="score")
s3 : pd.Series = pd.Series(["Muhammad","Adeel","Khalid","Ansari","Pakistan"],name= "student name")

# serie kse bne gey
#                                      key      value     key    value   key             value
df1 : pd.DataFrame = pd.DataFrame({"Student ID" :s1,     "Score" :s2,   "Student Name"   :s3})
df1

   Student ID  Score Student Name
0           1     10     Muhammad
1           2     20        Adeel
2           3     30       Khalid
3           4     40       Ansari
4           5     50     Pakistan

In [19]:
# dataconnect ase b kr skte hai pd.connect([...]),axis=1

s1 : pd.Series = pd.Series([1,2,3,4,5],name= "student Id ")
s2 : pd.Series = pd.Series([10,20,30,40,50],name="score")
s3 : pd.Series = pd.Series(["Muhammad","Adeel","Khalid","Ansari","Pakistan"],name= "student name")

df1 : pd.DataFrame = pd.concat([s1,s2,s3],axis=1)
df1

   student Id   score student name
0            1     10     Muhammad
1            2     20        Adeel
2            3     30       Khalid
3            4     40       Ansari
4            5     50     Pakistan

In [20]:
# dataframe kis trha bna skte hai.
# list with in list
data : list[list[int]] = [[1,2,3],[4,5,6],[7,8,9]]

df : pd.DataFrame = pd.DataFrame(data)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
# dataframe kis trha bna skte hai.
# list with in list
# columns k name rkhne hn
# 1 se 9 tk values hai ABC column name
data : list[list[int]] = [[1,2,3],[4,5,6],[7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns =['A','B','C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
# dataframe kis trha bna skte hai.
# list with in list
# columns k name rkhne hn
# index k name change krne hn to
# 1 se 9 tk values hai ABC column name and XYZ row name
data : list[list[int]] = [[1,2,3],[4,5,6],[7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns =['A','B','C'], index=['x','y','z'])
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [23]:
# in ko alg ald dekhna ho
df.index

Index(['x', 'y', 'z'], dtype='object')

In [27]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [25]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [38]:
from typing import Any
from nptyping import NDArray, UInt64, Shape
import numpy as np

data : NDArray[Shape["10,10"],Any] = np.arange(10*10).reshape(10,10)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [40]:
from typing import Any
from nptyping import NDArray, UInt64, Shape
import numpy as np

data : NDArray[Shape["10,10"],Any] = np.arange(10*10).reshape(10,10)
df : pd.DataFrame = pd.DataFrame(data)
df

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [46]:
from typing import Any
from nptyping import NDArray, UInt64, Shape
import numpy as np

data : NDArray[Shape["10,10"],Any] = np.arange(10*10).reshape(10,10)
df : pd.DataFrame = pd.DataFrame(data, columns=list("ABCDEFGHIJ"), index=['La','Lb','Lc','Ld','Le','Lf','Lg','Lh','Li','Lj'])
df

     A   B   C   D   E   F   G   H   I   J
La   0   1   2   3   4   5   6   7   8   9
Lb  10  11  12  13  14  15  16  17  18  19
Lc  20  21  22  23  24  25  26  27  28  29
Ld  30  31  32  33  34  35  36  37  38  39
Le  40  41  42  43  44  45  46  47  48  49
Lf  50  51  52  53  54  55  56  57  58  59
Lg  60  61  62  63  64  65  66  67  68  69
Lh  70  71  72  73  74  75  76  77  78  79
Li  80  81  82  83  84  85  86  87  88  89
Lj  90  91  92  93  94  95  96  97  98  99

In [48]:
# html k data frame ko b show kr skte jse k yha sara data ae ga next cell mai one by one data show krwaen gy jis index wala data show krna h us index ka number likh k show kren gy

df1 : list[pd.DataFrame] = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
df1

[  Operator            Name Example    Try it
 0        +        Addition   x + y  Try it »
 1        -     Subtraction   x - y  Try it »
 2        *  Multiplication   x * y  Try it »
 3        /        Division   x / y  Try it »
 4        %         Modulus   x % y  Try it »
 5       **  Exponentiation  x ** y  Try it »
 6       //  Floor division  x // y  Try it »,
    Operator  Example     Same As    Try it
 0         =    x = 5       x = 5  Try it »
 1        +=   x += 3   x = x + 3  Try it »
 2        -=   x -= 3   x = x - 3  Try it »
 3        *=   x *= 3   x = x * 3  Try it »
 4        /=   x /= 3   x = x / 3  Try it »
 5        %=   x %= 3   x = x % 3  Try it »
 6       //=  x //= 3  x = x // 3  Try it »
 7       **=  x **= 3  x = x ** 3  Try it »
 8        &=   x &= 3   x = x & 3  Try it »
 9        |=   x |= 3   x = x | 3  Try it »
 10       ^=   x ^= 3   x = x ^ 3  Try it »
 11      >>=  x >>= 3  x = x >> 3  Try it »
 12      <<=  x <<= 3  x = x << 3  Try it »,
   Operator                      Name Example    Try it
 0       ==                     Equal  x == y  Try it »
 1       !=                 Not equal  x != y  Try it »
 2        >              Greater than   x > y  Try it »
 3        <                 Less than   x < y  Try it »
 4       >=  Greater than or equal to  x >= y  Try it »
 5       <=     Less than or equal to  x <= y  Try it »,
   Operator                                        Description  \
 0      and           Returns True if both statements are true
 1       or      Returns True if one of the statements is true
 2      not  Reverse the result, returns False if the resul...

                  Example    Try it
 0       x < 5 and x < 10  Try it »
 1         x < 5 or x < 4  Try it »
 2  not(x < 5 and x < 10)  Try it »  ,
   Operator                                        Description     Example  \
 0       is  Returns True if both variables are the same ob...      x is y
 1   is not  Returns True if both variables are not the sam...  x is not y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                                        Description     Example  \
 0       in  Returns True if a sequence with the specified ...      x in y
 1   not in  Returns True if a sequence with the specified ...  x not in y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                  Name  \
 0        &                   AND
 1        |                    OR
 2        ^                   XOR
 3        ~                   NOT
 4       <<  Zero fill left shift
 5       >>    Signed right shift

                                          Description Example    Try it
 0              Sets each bit to 1 if both bits are 1   x & y  Try it »
 1         Sets each bit to 1 if one of two bits is 1   x | y  Try it »
 2    Sets each bit to 1 if only one of two bits is 1   x ^ y  Try it »
 3                               Inverts all the bits      ~x  Try it »
 4  Shift left by pushing zeros in from the right ...  x << 2  Try it »
 5  Shift right by pushing copies of the leftmost ...  x >> 2  Try it »  ,
                                Operator  \
 0                                    ()
 1                                    **
 2                              +x -x ~x
 3                              * / // %
 4                                   + -
 5                                 << >>
 6                                     &
 7                                     ^
 8                                     |
 9   == != > >= < <= is is not in not in
 10                                  not
 11                                  and
 12                                   or

                                           Description    Try it
 0                                         Parentheses  Try it »
 1                                      Exponentiation  Try it »
 2            Unary plus, unary minus, and bitwise NOT  Try it »
 3   Multiplication, division, floor division, and ...  Try it »
 4                            Addition and subtraction  Try it »
 5                       Bitwise left and right shifts  Try it »
 6                                         Bitwise AND  Try it »
 7                                         Bitwise XOR  Try it »
 8                                          Bitwise OR  Try it »
 9     Comparisons, identity, and membership operators  Try it »
 10                                        Logical NOT  Try it »
 11                                                AND  Try it »
 12                                                 OR  Try it »  ]

In [51]:
df1 : list[pd.DataFrame] = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
df1[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [52]:
# JSon data b read krw skte hai

df : pd.DataFrame = pd.read_json("https://www.w3schools.com/python/pandas/data.js")

df

# data jis type ka ho ga  pd.  k bd wo likh dena h jse k json, html, pdf ya jis b format ka data h wo likhna h jse k yha pe json format h to yha  pd.read_json() likha h

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [53]:
# https://pandera.readthedocs.io/en/stable/index.html
# validation set k hoe hai

import pandas as pd
import pandera as pa

# data to validate
df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ["value_1", "value_2", "value_3", "value_2", "value_1"],
})

# define schema
schema = pa.DataFrameSchema({
    "column1": pa.Column(int, checks=pa.Check.le(10)),
    "column2": pa.Column(float, checks=pa.Check.lt(-1.2)),
    "column3": pa.Column(str, checks=[
        pa.Check.str_startswith("value_"),
        # define custom checks as functions that take a series as input and
        # outputs a boolean or boolean Series
        pa.Check(lambda s: s.str.split("_", expand=True).shape[1] == 2)
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

# Sicling and indexing

* series_variable[index]
* dataFrame
    * loc
    * iloc
    * at
    * iat

In [56]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying sliding")
display(s1[1])  # index 1 pe jo value h wo nikl k samne ae gey

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying sliding

2

In [57]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying sliding")
display(s1[1:4])  # range

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying sliding

1    2
2    3
3    4
dtype: int64

In [58]:
# iloc()
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying sliding")
display(s1.iloc[1:4])  # index location (numbers) hmesha nbr he pas ho ga same as numpy silicing

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying sliding

1    2
2    3
3    4
dtype: int64

In [59]:
# iloc()

s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
display(s1)
print("Applying sliding")
display(s1.iloc[1:4])  # index location (numbers) hmesha nbr he pas ho ga same as numpy silicing. iloc()

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying sliding

b    2
c    3
d    4
dtype: int64

In [62]:

# loc()
s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
display(s1)
print("Applying sliding")
display(s1.loc["a":"d"])  # index location (label) end included. loc() use ho ga. as mai last index include ho ga a to d

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying sliding

a    1
b    2
c    3
d    4
dtype: int64

In [63]:
# 1 cell k value niklni ho
# iat[index number]

s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
display(s1)
print("Applying sliding")
display(s1.iat[1]) # iat se value nikal k update k ja skti h

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying sliding

2

In [64]:
# agr label k zirye value niklni h to
# at[]

s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
display(s1)
print("Applying sliding")
display(s1.loc["d"]) # label ko b update krwa skte hai

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying sliding

4

https://pandera.readthedocs.io/en/stable/index.html

https://docs.python.org/3/library/re.html