# List 
* iteration operation with loop
* apply any operation on element
*

In [1]:
names : list[str] = ["Sir a" , "M adeel" , "M add"]
print(names)

['Sir a', 'M adeel', 'M add']

In [4]:
names : list[str] = ["Sir a" , "m adeel" , "M add"]

for name in names:
    print(name)

Sir a
m adeel
M add

In [6]:
for name in names:
    print(f'Welcome Dear Teacher {name.title()}')

Welcome Dear Teacher Sir A
Welcome Dear Teacher M Adeel
Welcome Dear Teacher M Add

In [8]:
names : list[str] = ["Sir a" , "m adeel" , "M add"]
for name in names:
    print(f'Welcome Dear Teacher {name.title()}')
    print("PIAIC Gen AI Team\n")

Welcome Dear Teacher Sir A
PIAIC Gen AI Team

Welcome Dear Teacher M Adeel
PIAIC Gen AI Team

Welcome Dear Teacher M Add
PIAIC Gen AI Team

In [9]:
names : list[str] = ["Sir a" , "m adeel" , "M add"]
for name in names:
    print(f'Welcome Dear Teacher {name.title()}')
    print("PIAIC Gen AI Team\n")
    print("AD
print("Pakistan Zinda Bad")

Welcome Dear Teacher Sir A
PIAIC Gen AI Team

Welcome Dear Teacher M Adeel
PIAIC Gen AI Team

Welcome Dear Teacher M Add
PIAIC Gen AI Team

Pakistan Zinda Bad

In [4]:
# tuple mai value ari h bracket mai comma wgra lga hwa 
data_base : list[tuple[str,str]] = [("a","123"),("b","1234"),("c","12345")]
for row in data_base:
    print(row)

('a', '123')
('b', '1234')
('c', '12345')

In [5]:
# tuple se nikla k jse username or paswrod hta wse show krne k liye
data_base : list[tuple[str,str]] = [("a","123"),("b","1234"),("c","12345")]
for row in data_base:
    user, password = row
    print(user,password)

a 123
b 1234
c 12345

In [6]:
# user se input lena jse js mai lete
input_user : str = input("Enter user name")
print(input_user)

Adeel Khalid Ansari

In [10]:
data_base : list[tuple[str,str]] = [("a","123"),("b","1234"),("c","12345")]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")

for row in data_base:
    user, password = row  # ye user or password data base mai jo hai wo wale hai
    if input_user == user and input_password == password:   # user jo data de ga us ko data base wale data se match krwanyn gy
        print("valid User")
        break
else:
    print("Not found or Invalid user name or password")

valid User

In [16]:
magicians: list[str] = ['alice','david','carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n")
# loop k jo last value hti h wo global mai excessable hti h baki koi ni ho gey as mai b last value carolina h to as liye show ho ri (ye chez sirf python mai he h)

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [17]:
magicians: list[str] = ['alice','david','carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
print("Thank you everyone, that was a great magic show") # last message for everyone

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show

In [23]:
magicians: list[str] = ['alice','david','carolina']

list(enumerate(magicians)) # index number btae ga tuple mai

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [27]:
magicians = ['alice','david','carolina']

for index, name in enumerate(magicians):
    print(index, name) # index or name ak sth show kre ga ye tuple mai ni h data indual h

0 alice
1 david
2 carolina

# Number with Loop
* `range(start,end,step)`

In [19]:
list(range(10)) # starting=0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(2,10)) # starting=2, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(2,21,2)) # starting=2, ending = n-1 step = 2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Table print

In [30]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [28]:
for n in range(3,31,3):
    print(n)

3
6
9
12
15
18
21
24
27
30

In [34]:
for n in range(1,11):
    print(f"{3} X {n} = {n*3}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [35]:
squares:list[int] = []
for value in range(1,11):
    square = value **2
    squares.append(square)
print(squares) # ye kam hm ne 5 lino mai perfome kiya h jb k ye km mai ho skta tha

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehansive

In [38]:
# old treka h
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [41]:
# uper wale se or as wale code se result same arha h ye new treka h. ye 1 line mai ho ga
[i**2 for i in range(1,11)] # ** power k liye use hta h
# jupiter note book k ye khasiyt h k ye last wale ko print lgae bgr b print kr deta h jse k as code mai bger print k command k print hwa.(always return last line)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
digits:list[int] = [1,2,3,4,5,6,7,8,9,0]
print(digits)
print(max(digits)) # as list mai sb se bri value kon c h
print(min(digits)) # as list mai sb se choti value kon c h
print(sum(digits)) # as list mai sb ko sum krna h

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

# Tuples
* constant value can not be changed

In [45]:
names:tuple[str] = ('a','b','c')
print(names[0])
print(names[0:2])

a
('a', 'b')

In [46]:
names:tuple[str] = ('a','b','c')

names[0] "Pakistan" # error de ga q k update ni kr skte tuple ko tuple ko re assign kr skte hai mtlb k new bna ln butt not update k value

SyntaxError: invalid syntax (3883322849.py, line 3)